<section class="component hero-feature">
  <div class="grid-container">
    <h1>Hello Universe!!!</h1>

    <div class="hero-feature-inner">
      <div class="image-caption">
        <div class="image" style="background-image: url('<%= lorem.image('200x300', :background_color => '333', :color => 'fff') %>'); "></div>
        <h3><%= lorem.words 2 %></h3>
      </div>

      <div class="text">
        <p><%= lorem.sentences 5 %></p>
        <a href="<%= data.site.url %>" class="link" aria-label="Learn More about Front End Developer">Learn More</a>
      </div>
    </div>

  </div>
</section>
