* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: $color-white;
  color: $color-night-rider;
  @include interpolate(font-size, 580px, 1440px, 14px, 20px);
  font-family: $font-futura;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
  height: auto;
}
