





// Placeholders
::-webkit-input-placeholder { color: $color-very-light-gray; }
:-moz-placeholder { color: $color-very-light-gray; }
::-moz-placeholder { color: $color-very-light-gray; }
:-ms-input-placeholder { color: $color-very-light-gray; }
