<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google" value="notranslate">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Site Title</title>
    <link href="../stylesheets/styles.css" rel="stylesheet" />
  </head>
  <body class="js-enabled">
    <header class="main-header">
  <div class="grid-container">
    <div class="logo">
      <a href="/"><svg id="close" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
  <path d="M1 1l16 16m0-16L1 17" stroke="#0057B8" stroke-width="2" fill="none"/>
</svg>
</a>
    </div>
  </div>
</header>

<section class="component hero-feature">
  <div class="grid-container">
    <h1>Hello Universe!!!</h1>

    <div class="hero-feature-inner">
      <div class="image-caption">
        <div class="image" style="background-image: url('http://placehold.it/200x300/333/fff'); "></div>
        <h3>soluta quisquam</h3>
      </div>

      <div class="text">
        <p>Et vel voluptas nihil soluta nulla quidem hic labore repellendus autem hic eos qui vel. Rerum dolor eum qui facere. Ab quis error quod autem. Et error odit totam mollitia iusto excepturi cum eius ut illo. Vero asperiores molestias vitae hic quos consectetur aut repellat deserunt accusamus blanditiis</p>
        <a href="https://example.com" class="link" aria-label="Learn More about Front End Developer">Learn More</a>
      </div>
    </div>

  </div>
</section>


    <!-- JS Vendor -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
    <!-- end JS Vendor -->
    <script src="../javascripts/all.js"></script>
  </body>
</html>
